*{
	padding: 0px;
	margin: 0px;
	font-family: "Rockwell",serif;
}
body{
	background-image: url(../imgs/navbar_bg.jpg);
	background-size: 130% auto;
	background-repeat: no-repeat;
	/*background-position: 0px 100px;*/
}
	.bold{
		font-weight: bolder;
	}
	.neon_green{
		color: RGB(127,226,46);
	}
	.no_decoration{
		text-decoration: none;
	}
	.nestled{
		display: inline-block;
		vertical-align: top;
	}
	.dashboard_navbar_tab li{
		color: white;
	}
	h2{
		text-align: center;
	}
	#home,#logout,.dashboard_navbar_tab h2{
		font-size: 25px;
		color: black;
	}
	#home,#logout{
		width: 188px;
		position: fixed;
		top: 93.5%;
		border-top: solid black 2px;
		border-color: white;
		color: white;
	}
	#home,#logout{
		background-color: rgba(25,38,31,0.7);
	}
	#home{
		left: 794px;
	}
	#logout{
		left: 990px;
	}
	#empty_box{
		width: 780px;
		height: 600px;
	}
	#dashboard_partials{
		
		/*height: 90%;*/
		margin: 20px;
		background-color: white;
		overflow: scroll;
	}
	.wide{
		width: 500px;
	}
	#dashboard_main{
		margin: 20px;
	}
		#dashboard_main h2{
			margin-top: 20px;
			text-align: left;
			font-size: 35px;
		}
		#dashboard_main ul{
			padding-left: 25px;
		}
		#dashboard_main li{
			color: black;
			font-size: 25px;
		}

/*NAVBAR*/
	#dashboard_navbar{
		width: 810px;
		height: 800px;
		position: fixed;
	}
		#dashboard_navbar>div{
			margin: 0px 10px;
		}
		.dashboard_navbar_tab{
			width: 24%;
			height: 760px;
		}
			.dashboard_navbar_tab>div{
				width: 100%;
				height: 100%;
				background-color: rgb(25,38,31);
				opacity: 0;
			}
			.dashboard_navbar_tab h2{
				background-color: white;
				position: relative;
				top: -53%;
			}
			.dashboard_navbar_tab ul{
				width: 160px;
				padding-left: 25px;
				position: absolute;
				top: 200px;
				opacity: 0;
			}
			#dashboard_navbar_schedule{
				background-image: url(../imgs/dashboard_navbar_schedule_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_menu{
				background-image: url(../imgs/dashboard_navbar_menu_bg2.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_tables{
				background-image: url(../imgs/dashboard_navbar_tables_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_kitchen{
				background-image: url(../imgs/dashboard_navbar_kitchen_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_tips{
				background-image: url(../imgs/dashboard_navbar_tips_bg.jpg);
				background-size: auto 120%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_inventory{
				background-image: url(../imgs/dashboard_navbar_inventory_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}
			#dashboard_navbar_personnel{
				background-image: url(../imgs/dashboard_navbar_personnel_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: -60px 0px;
			}
			#dashboard_navbar_profile{
				background-image: url(../imgs/dashboard_navbar_profile_bg.jpg);
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: 0px 0px;
			}

/*NAVBAR HOME*/
#scribbles{
	width: 400px;
}
#chalkboard{
	width: 80%;
	height: 50px;
}
#chalkboard_button_wrapper{
	width: 18%;
}
	#chalkboard_clear,#chalkboard_submit{
		width: 100%;
	}

/*PERSONNEL PARTIAL STYLING*/
#personnel_employees_list{
	padding-bottom: 80px;
}

/*PROFILE PARTIAL STYLING*/
#profile_table input{
	border: none;
}
#profile_saved{
	display: none;
}