*{
	margin: 0px;
	padding: 0px;
	font-family: "Rockwell",serif;
}
body {
	width: 1500px;
	height: 800px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url(../imgs/login_bg_img_1.jpg);
	background-size: 1500px 1000px;
	background-repeat: no-repeat;
	background-position: 0px -150px;
}
	.nestled{
		display: inline-block;
		vertical-align: top;
	}
	h1,h2,h4,h6,p,th,td,li{
		font-family: "Rockwell",serif;
		color: white;
	}
	.neon_pink{
		color: RGB(127,226,46);
	}
	.red{
		color: RGB(243,41,1);
	}
	.neon_green,.neon_green a{
		color: RGB(127,226,46);
	}
	.neon_green_bg{
		background-color: RGB(127,226,46);
	}
	.no_decoration{
		text-decoration: none;
	}
	.bold{
		font-weight: bolder;
	}
	.hidden{
		display: none;
	}
/*----------top_links----------*/
	#top_links a{
		margin: 10px;
		color: rgba(255,255,255,0.8);
	}

	.login_partial{
		z-index: 99;
		margin: 30px;
		padding: 20px;
		width: 680px;
		height: 330px;
		background-color: rgba(25,38,31,0.8);
		position: relative;
	}
		.login_partial h1{
			line-height: 80px;
		}
/*----------#login_intro_left----------*/
	#login_intro_left{
		padding-top: 100px;
		height: 700px;
		background-image: url(../imgs/logo.png);
		background-size: 700px 700px;
		background-repeat: no-repeat;
		background-position: -100px 0px;
	}
		#login_intro_left_title{
			width: 600px;
			z-index: 1;
			background-color: rgba(25,38,31,0.4);
		}
			#login_intro_left h1,#login_intro_left h3,#login_intro_left h6{
				padding-left: 50px;
			}
			#login_intro_left h1{
				line-height: 100px;
				font-size: 120px;
			}
			#login_intro_left h6{
				font-size: 23px;
				border-top: solid RGB(127,226,46) 2px;
			}
			#login_intro_left input,#go_to_dashboard{
				width: 170px;
				height: 35px;
				font-size: 25px;
			}
		/*Login bar*/
			#login_intro_left_loginbar{
				margin-top: 20px;
			}
				#login_intro_left input:first-child{
					margin-left: 50px;
				}
				#login_intro_left #login_form_submit,#cancel,#go_to_register,#registration_form #registration_form_submit,#go_to_dashboard{
					height: 39px;
					border: solid gray 1px;
					background-color: white;
				}
				#go_to_dashboard a{
					font-size: 15px;
					line-height: 40px;
					color: RGB(205,1,135);
				}
		/*Registration bar*/
			#login_intro_left div:last-child{
				margin-top: 20px;
				width: 600px;
				height: 39px;
				background-color: rgba(255,255,255,0.8);
			}
				#login_intro_left h3{
					line-height: 40px;
				}
				#login_intro_left #go_to_register,#login_intro_left #cancel{
					font-size: 18px;
				}
/*----------#login_main----------*/
		#login_main{
			width: 1400px;
			z-index: 2;
			position: absolute;
			top: 450px;
			margin: 0px auto;
			left: 0;
			right: 0;
		}
			.login_main_tabs{
				width: 380px;
				height: 370px;
				margin: 0px 20px;
			}
				.login_main_tabs h2{
					text-align: center;
					background-color: rgba(127,226,46,0.9);
				}
			/*.login_main_tabs_content*/
				.login_main_tabs_content ul{
					padding: 10px 20px;
				}
				#login_main_hosts{
					background-color: rgba(38,188,244,0.2);
				}
					#login_main_hosts ul{
						background-color: rgba(38,188,244,0.5);
					}
					#login_main_hosts .login_main_tabs_imgwrapper{
						width: 380px;
						height: 261px;
						overflow: hidden;
						background-image: url(../imgs/login_tab_team_bg.jpg);
						background-size: 200% 200%;
						background-repeat: no-repeat;
						background-position: -220px -50px;
					}
				#login_main_personal{
					background-color: rgba(205,1,135,0.2);
				}
					#login_main_personal ul{
						background-color: rgba(205,1,135,0.5);
					}
					#login_main_personal .login_main_tabs_imgwrapper{
						width: 380px;
						height: 261px;
						overflow: hidden;
						background-image: url(../imgs/login_tab_personal_bg.jpg);
						background-size: 140% 140%;
						background-repeat: no-repeat;
						background-position: -80px -52px;
					}
				#login_main_mgmt{
					background-color: rgba(226,153,69,0.2);
				}
					#login_main_mgmt ul{
						background-color: rgba(226,153,69,0.5);
					}
					#login_main_mgmt .login_main_tabs_imgwrapper{
						width: 380px;
						height: 261px;
						overflow: hidden;
						background-image: url(../imgs/login_tab_mgmt_bg.jpg);
						background-size: 150% 150%;
						background-repeat: no-repeat;
						background-position: -90px -50px;
					}
		/*#registration_form*/
			#registration_form_wrapper{
				width: 400px;
				height: 370px;
				background-color: rgba(25,38,31,0.8);
			}
				#registration_form_wrapper>*{
					margin-left: 20px;
				}
				#registration_form_wrapper p:nth-of-type(1){
					margin: 20px 0px;
				}
				#registration_form input{
					margin-bottom: 3px;
					border: solid 1px RGB(86,86,86);
					width: 200px;
					text-align: center;
				}
				#registration_form input[type='submit'],#register_done{
					width: 202px;
				}
				.ng-invalid.ng-dirty{
					border-color: RGB(243,41,1);
				}
				.ng-valid.ng-dirty{
					border-color: RGB(127,226,46);
				}
	h1{
		font-size: 100px;
		margin: 10px 0px;
	}
	table{
		margin: 10px 0px;
	}
		th{
			text-align: left;
		}
		th,td{
			padding-right: 20px;
		}
.inputs{
	padding: 20px;
	text-align: left;
	height: 250px;
	width: 250px;
	border: 1px solid lightgrey;
}
.inputs input{
	float: right;
}
.inputs select{
	float: right;
}
.inputs textarea{
	float: right;
}
.inputs #submit{
	margin-top: 20px;
	margin-left: 100px;
}
.info{
	display: inline-block;
	width: 200px;
	background-color: lightgreen;
	border: 4px solid green;
	padding: 5px;
	margin: 10px;
}