<div class="login_partial">
	<h1>ORDER UP.</h1>
	<h4>The customer may be king, but with MUNCH, so are you.</h4>
	<p>MUNCH unifies all aspects of restaurant management, making collective tasks as well as individual ones less tedious, and more efficient. With our instant messaging system and sleek shift calendar, finding substitute coworkers has never been easier. Calculate tip earnings and even predict them based on carefully crafted data. Never miss an order from the kitchen with our order tracking system that lets you easily check off dishes that were made, and even track/predict cook times. Check the tables that bring in the most money over time and track the popularity of your menu items. Update your menu items. Broadcast urgent messages and daily specials.</p>
	<p>With MUNCH, no one is left out.</p>
	<h4>We bring everyone to the table. It's dinnertime.</h4>
	<a href="#/index" class="neon_green">Close</a>
</div>