<div id="dashboard_main" class="nestled" ng-controller="Personelle">
	<h1>WELCOME {{logged_in_user.username}}</h1>
	<h2>Personnel</h2>
	<div id="personelle_employees_list">
		<table ng-repeat="personelle_employee in personelle_employees">
			<tbody>
				<tr class="bold">
					<td>Username:</td>
					<td>{{personelle_employee.username}} <button class="sack" ng-click="personelle_dismiss(personelle_employee)" ng-show="logged_in_user.username!=personelle_employee.username">SACK</button></td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td>{{personelle_employee.firstname}}</td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td>{{personelle_employee.lastname}}</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>{{personelle_employee.email}}</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>{{personelle_employee.phone}}</td>
				</tr>
				<tr>
					<td>Account Type:</td>
					<td>{{personelle_employee.account_type}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <textarea id="chalkboard" ng-model="new_scribble"></textarea><button id="chalkboard_submit" ng-click="chalkboard_submit(new_scribble)">Scribble!</button> -->
</div>