<div id="dashboard_main" class="nestled" ng-controller="DashboardMessages">
	<h1>{{dashboard_username.username}}</h1>


<div id='picked_up_shifts'>
	<p class='header'>Shifts in Transition</p>
	<ul>
		<li>name - shift - <button class='confirm'>Confirm</button><button class='deny'>Deny</button></li>
		<li>name - shift - <button class='confirm'>Confirm</button><button class='deny'>Deny</button></li>
		<li>name - shift - <button class='confirm'>Confirm</button><button class='deny'>Deny</button></li>
		<li>name - shift - <button class='confirm'>Confirm</button><button class='deny'>Deny</button></li>
		<li>name - shift - <button class='confirm'>Confirm</button><button class='deny'>Deny</button></li>
	</ul>

</div>


</div>