<div id="chartdiv" style="width: 900px; height: 400px; background-color: #FFFFFF;" ng-controller="schedules"></div>
<h1>Enter your tips for today</h1>
<p class='tiptext'> Total Tip Amount:<input ng-model='tipAmount' type='text'></p>
<input ng-controller='schedules' id='addtipclick' ng-click='addTip(tipAmount, logged_in_user.username)' type='submit'>
