<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard_style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script type="text/javascript" src="../javascripts/dashboard_app.js"></script>
    <script type="text/javascript" src="../javascripts/factories/userFactory.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/usersController.js"></script>
<!-- Chris -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/calendarstyle.css" />

    <script type="text/javascript" src="../javascripts/controllers/schedulesController.js"></script>
    <script type="text/javascript" src="../javascripts/factories/scheduleFactory.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">

		date = new Date();
		$(document).on('click', '#addtipclick', function() {
            window.location.href = "http://localhost:6789/dashboard"
        })
        $(document).on('click', '#dashboard_navbar_tips', function() {
            tipArray = [];
            $('#loopContainer').find('div').each(function() { 
                var object =  {"date": $(this).attr('tipdate'), "amount": $(this).attr('tipamount')};
                tipArray.push(object);
            });
            $.ajax({
                type: 'GET',
                url: './javascripts/controllers/schedulesController.js',
                success: function (data) {
                    AmCharts.makeChart("chartdiv",
                    {
                        "type": "serial",
                        "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                        "categoryField": "date",
                        "startDuration": 1,
                        "categoryAxis": {
                            "gridPosition": "start"
                        },
                        "trendLines": [],
                        "graphs": [
                            {
                                "balloonText": "[[value]]",
                                "bullet": "round",
                                "id": "AmGraph-1",
                                "title": "Tip History",
                                "type": "smoothedLine",
                                "valueField": "amount"
                            },
                        ],
                        "guides": [],
                        "valueAxes": [
                            {
                                "id": "ValueAxis-1",
                                "title": "Amount"
                            }
                        ],
                        "allLabels": [],
                        "balloon": {},
                        "legend": {
                            "useGraphSettings": true
                        },
                        "titles": [
                            {
                                "id": "Title-1",
                                "size": 15,
                                "text": "Tips"
                            }
                        ],
                        "dataProvider": tipArray,
                    }
                );

                    }
                })
        })

    var io = io.connect();

//MESSAGING
    io.on('dashboard_message_everyone',function(new_dashboard_message_received){
        $('#dashboard_messages').append('<li>'+new_dashboard_message_received.message+'</li>');
    });
    io.on('dashboard_delete_message_everyone',function(message_to_delete){
        $('#dashboard_messages li')[message_to_delete.delete_index].remove();
    });
    $(document).on('click','#dashboard_new_message_clear',function(){
        $('#dashboard_new_message').val('');
    });
    $(document).on('click','#dashboard_new_message_submit',function(){
        io.emit('dashboard_message_submitted',{message:$('#dashboard_new_message').val()});
    });
    $(document).on('click','.dashboard_message_delete',function(){
        io.emit('dashboard_delete_message',{delete_index:$(this).parent().attr('id')});
        $(this).parent().remove();
    });

//SPECIALS
    io.on('dashboard_special_everyone',function(new_dashboard_special_received){
        var descr='';
        if(new_dashboard_special_received.description.length!=0){
            descr=': '+new_dashboard_special_received.description;
        }
        
        $('#dashboard_specials').append('<li>'+new_dashboard_special_received.item+descr+'</li>');
    });
    io.on('dashboard_delete_special_everyone',function(special_to_delete){
        $('#dashboard_specials li')[special_to_delete.delete_index].remove();
    });
    $(document).on('click','#dashboard_new_special_clear',function(){
        $('#dashboard_new_special_item,#dashboard_new_special_description').val('');
    });
    $(document).on('click','#dashboard_new_special_submit',function(){
        io.emit('dashboard_new_special_submitted',{item:$('#dashboard_new_special_item').val(),description:$('#dashboard_new_special_description').val()});
    });
    $(document).on('click','.dashboard_special_delete',function(){
        io.emit('dashboard_delete_special',{delete_index:$(this).parent().attr('id')});
        $(this).parent().remove();
    });

//SCRIBBLES
    io.on('scribble_everyone',function(scribble_received){
		$('#scribbles').append('<p><span class="scribble_username bold">'+scribble_received.fullname+'</span><span class="scribble_message"> | '+scribble_received.message+'</span><span class="scribble date"> ['+scribble_received.date+']</span></p>');
    });
    $(document).on('click','#scribble_clear',function(){
    	$('#scribble').val('');
    });
    $(document).on('click','#scribble_submit',function(){
    	var d=new Date();
        var date=d.toDateString();
        var hours=d.getHours();
        var minutes=d.getMinutes();
        var am_pm='am';
        if(minutes<10){
            minutes='0'+minutes;
        }
        if(hours>12){
            hours-=12;
            am_pm='pm';
        }
		io.emit('scribble_submitted',{fullname:'<%= fullname %>',message:$('#scribble').val(),date:hours+':'+minutes+am_pm+', '+date});
    });

//NAVIGATION
    $(document).ready(function(){
    	$('.dashboard_navbar_tab').css('opacity','0');
    	$('.dashboard_navbar_tab').animate({'opacity':'1'},1000);
    });
		$(document).on('mouseenter','.dashboard_navbar_tab',function(){
			$('.dashboard_navbar_tab').css('cursor','pointer');
			$(this).find('div').animate({'opacity':'0.8'},300);
			$(this).find('ul').animate({'opacity':'1'},300);
            $(this).find('h2').css('background-color','transparent');
            $(this).find('h2').css('color','RGB(255,0,174)');
            $(this).animate({'background-position-x':'-50px'},500);
            $(this).mouseleave(function(){
            	$('.dashboard_navbar_tab *').stop(true,true);
            	$(this).find('div').css('opacity','0');
            	$(this).find('ul').animate({'opacity':'0'},300);
                $(this).find('h2').css('background-color','white');
                $(this).find('h2').css('color','black');
                $('.dashboard_navbar_tab').css('background-position-x','0px');
            });
        });
        $(document).on('click','.dashboard_navbar_tab',function(){
            $('#home,#logout').css('margin-top','3vh');
            $('#dashboard_partials').css('width','95%');
            $('#empty_box').hide();
            $('.dashboard_navbar_tab *').stop(true,true);
            $('#dashboard_navbar').css('top','90%');
            $('.dashboard_navbar_tab').find('h2').css('top','-97%');
        });
        $(document).on('click','#home',function(){
            $('#home,#logout').css('margin-top','89vh');
        	$('#empty_box').show();
        	$('#dashboard_partials').css('width','48%');
        	$('.dashboard_navbar_tab').find('h2').css('top','-53%');
            $('#dashboard_navbar').css('top','');
        	$('#dashboard_navbar').css('bottom','0em');
            io.emit('new_screen',{msg:'read to get existing messages'});
        });

    //PROFILE PARTIAL jQUERY
        $(document).on('click','#profile_edit_button',function(){
        	$('#profile_table input:not(.static)').css('border','solid gray 1px');
		});
		$(document).on('click','#profile_save_button,.pay_save_button',function(){
        	$('#profile_table input').css('border','none');
        	$('#saved').show();
        	$('#saved').animate({'opacity':'0'},3000,function(){
        		$('#saved').hide();
        	});
		});

	//PERSONNEL
		$(document).on('click','.sack',function(){
			$(this).parent().parent().parent().parent().remove();
		});
    </script>
</head>
<body ng-app="munch" ng-controller="DashboardNavbar">
	<div id="dashboard_navbar" class="nestled">
		<div>
			<div id="dashboard_navbar_schedule" class="dashboard_navbar_tab nestled" ng-show="navbar_show.schedule" onclick="location.href='/schedules'">
				<div></div>
				<ul>
					<li>Check your work hours visually</li>
					<li>Request substitutes</li>
					<li>Send messages to coworkers</li>
				</ul>
				<h2>SCHEDULE</h2>
			</div>
			<div id="dashboard_navbar_menu" class="dashboard_navbar_tab nestled" ng-show="navbar_show.menu" onclick="location.href='/menu'">
				<div></div>
				<ul>
					<li>See the menu</li>
					<li>Alter the menu [Management only]</li>
				</ul>
				<h2>MENU</h2>
			</div>
			<div id="dashboard_navbar_tables" class="dashboard_navbar_tab nestled" ng-show="navbar_show.tables" onclick="location.href='#/tables'">
				<div></div>
				<ul>
					<li>Check table availability</li>
					<li>Record orders</li>
					<li>Track dish completion/cook time</li>
				</ul>
				<h2>TABLES</h2>
			</div>
			<div id="dashboard_navbar_kitchen" class="dashboard_navbar_tab nestled" ng-show="navbar_show.kitchen" onclick="location.href='#/kitchen'">
				<div></div>
				<ul>
					<li>Track dish completion</li>
					<li>Notify the chefs</li>
				</ul>
				<h2>KITCHEN</h2>
			</div>
			<div id="dashboard_navbar_tips" class="dashboard_navbar_tab nestled" ng-show="navbar_show.tips" onclick="location.href='#/tips'">
				<div></div>
				<ul>
					<li>Calculate your tip earnings</li>
					<li>Compile tip data</li>
					<li>Predict tips over time</li>
				</ul>
				<h2>TIPS</h2>
			</div>
			<div id="dashboard_navbar_inventory" class="dashboard_navbar_tab nestled" ng-show="navbar_show.inventory" onclick="location.href='#/inventory'">
				<div></div>
				<ul>
					<li>Tally your supplies</li>
					<li>Track income from each dish</li>
				</ul>
				<h2>INVENTORY</h2>
			</div>
			<div id="dashboard_navbar_personnel" class="dashboard_navbar_tab nestled" ng-show="navbar_show.personnel" onclick="location.href='#/personnel'">
				<div></div>
				<ul>
					<li>Change worker account settings</li>
					<li>Approve or deny shift change requests</li>
				</ul>
				<h2>PERSONNEL</h2>
			</div>
			<div id="dashboard_navbar_profile" class="dashboard_navbar_tab nestled" ng-show="navbar_show.profile" onclick="location.href='#/profile'">
				<div></div>
				<ul>
					<li>Change your account settings</li>
					<li>Check paystubs</li>
					<li>Calculate pay over time</li>
				</ul>
				<h2>PROFILE</h2>
			</div>
	       <a id="home" class="no_decoration nestled" href="#"><h2>HOME</h2></a>
	       <a id="logout" class="no_decoration nestled" href="/"><h2>LOG OUT</h2></a>
        </div>
    </div>
	<div id="empty_box" class="nestled"></div>
	<div id="dashboard_partials" class="nestled wide">
        <!-- ng-view must be on its own, otherwise confuses jQuery styling -->
        <div ng-view=""></div>
    </div>
	<div ng-controller='schedules' id='loopContainer'>
            <div id='{{tip._id}}' tipdate='{{tip.date}}' tipamount='{{tip.amount}}' ng-repeat="tip in tips"></div>
    </div>

</body>
</html>