<!DOCTYPE html>
<!-- Ulysses Lin 1/15/2015 -->
<!-- Home page -->
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login_style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script type="text/javascript" src="../javascripts/app.js"></script>
    <script type="text/javascript" src="../javascripts/factories/factories.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/controllers.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        //Socket stuff...not necessary for ministore assignment
        var io = io.connect();
        io.emit('client_ready');
        io.on('info', function(msg) {
            console.log("Received 'info' event as well as the following message:", msg);
        });
        io.emit('user_logged_in',{user:'abcd'});

        $(document).ready(function(){
            var random_num=Math.floor(Math.random()*3);
            if(random_num==0){
                $('body').css('background-image','url(../imgs/login_bg_img_1.jpg)');
            }else if(random_num==1){
                $('body').css('background-image','url(../imgs/login_bg_img_2.jpg)');
            }else if(random_num==2){
                $('body').css('background-image','url(../imgs/login_bg_img_3.jpg)');
            }
        });
        $(document).on('click','#go_to_register',function(){
            $('#go_to_register').toggle();
            $('#login_intro_left_loginbar').toggle();
            $('#login_intro_left h3').html('Choose an account type:');
            $('#cancel').toggle();
            $('#login_intro_left').animate({paddingTop:'0px'},300);
            $('#login_main_center_div').animate({'top':'-480px'},300);
            $('.login_main_tabs').css('cursor','pointer');
            $('.login_main_tabs').css('border','solid RGB(127,226,46) 2px');
            $(document).on('mouseenter','.login_main_tabs',function(){
                $('#login_intro_left_loginbar').stop();
                var orig_bg_opacity=$(this).css('background-color');
                $(this).css('background-color',orig_bg_opacity.slice(0,-4)+'0.8)');
                $(this).mouseleave(function(){
                    $(this).css('background-color',orig_bg_opacity.slice(0,-4)+'0.2)');
                });
            });
            $(document).one('click','.login_main_tabs',function(){
                $('.login_main_tabs').css('cursor','auto');
                $(document).off('mouseenter','.login_main_tabs');
                $(document).off('mouseenter','.login_main_tabs');
                $(this).siblings().toggle(300);
                $('#registration_form_wrapper').show();
                $('#registration_form_wrapper').css('display','inline-block');
            });
        });
        $(document).on('click','#cancel,#register_done',function(){
            // $('#registration_form input').removeClass('.ng-dirty');
            $('#cancel').toggle();
            $('#login_intro_left_loginbar').toggle();
            $('.login_main_tabs').off('click');
            $('.login_main_tabs').off('mouseenter');
            $('.login_main_tabs').show();
            $('#registration_form_wrapper').hide();
            $('.login_main_tabs').css('cursor','auto');
            $('.login_main_tabs').css('border','none');
            $('#login_intro_left h3').html('Or Register:');
            $('#go_to_register').toggle();
            $('#login_intro_left').animate({'padding-top':'100px'},300);
            $('#login_main_center_div').animate({'top':'-350px'},300);
        });
    </script>
</head>
<body ng-app="munch" ng-controller="Registration">
    <div id="top_links">
        <a href="#/info" class="no_decoration">Info</a>

    </div>
    
    <div id="login_intro_left" class="nestled">
        <div id="login_intro_left_title">
            <h1><%= title %></h1>
            <h6>We can all fit at the dinner table. 
                <span class="neon_green"><a href="#/learn_more">Learn More-></a></span>
            </h6>
        </div>
        <div id="login_intro_left_loginbar" ng-controller="LoginIntro">
<!-- LOGIN ERROR MESSAGE -->
            <div id="login_error">
                <p class="red">{{login_error.message}}</p>
            </div>
<!-- LOGIN FORM -->
            <form id="login_form" name="login_form" ng-submit="login_form.$valid && login(login_info)" novalidate >
                <input type="text" class="nestled" ng-model="login_info.username" placeholder="username" required>
                <input type="text" class="nestled" ng-model="login_info.password" placeholder="password" required>
                <input id="login_form_submit" type="submit" class="nestled" value="Login" ng-hide="logged_in_user.username.length">
                <button id="go_to_dashboard" ng-click="get()" ng-show="logged_in_user.username.length"><a href="/dashboard" class="no_decoration">GO TO DASHBOARD</a></button>
            </form>
        </div>
        <div>
<!-- LIGHT GREY REGISTER BAR -->
            <h3 class="nestled">New user?: </h3>
            <button id="go_to_register" class="nestled neon_green_bg" ng-click="toggle_tab_click()"><span class="bold">Register Here</span></button>
            <button id="cancel" class="hidden nestled neon_green_bg" ng-click="cancel()"><span class="bold">Cancel</span></button>
        </div>
    </div>
    
    <div id="login_intro_right" class="nestled">
<!-- LOAD PARTIALS HERE -->
        <div ng-view=""></div>
    </div>

    <div id="login_main">
        <!-- #login_main_center_div purely for centering tabs -->
        <div id="login_main_center_div">
            <div id="login_main_hosts" class="login_main_tabs nestled" ng-click="tab_clickable && user_type('team')">
                <h2>FOR THE WHOLE TEAM</h2>
                <div class="login_main_tabs_content">
                    <ul>
                        <li>Check table availability</li>
                        <li>Reserve tables</li>
                        <li>Track order completion and cook time</li>
                        <li>Prioritize orders</li>
                    </ul>
                </div>
                <div class="login_main_tabs_imgwrapper">
                </div>
            </div>
            <div id="login_main_personal" class="login_main_tabs nestled" ng-click="tab_clickable && user_type('personal')">
                <h2>FOR YOU</h2>
                <div class="login_main_tabs_content">
                    <ul>
                        <li>Check your schedule</li>
                        <li>Request shift changes and send messages</li>
                        <li>Calculate your tips and earnings over time</li>
                        <li>Check your paystubs</li>
                    </ul>
                    <div class="login_main_tabs_imgwrapper">
                    </div>
                </div>
            </div>
            <div id="login_main_mgmt" class="login_main_tabs nestled" ng-click="tab_clickable && user_type('mgmt')">
                <h2>FOR MANAGEMENT</h2>
                <div class="login_main_tabs_content">
                    <ul>
                        <li>Manage shift change requests</li>
                        <li>Monitor employee hours</li>
                        <li>Track inventory</li>
                        <li>Alter the menu</li>
                    </ul>
                    <div class="login_main_tabs_imgwrapper">
                    </div>
                </div>
            </div>
            <div id="registration_form_wrapper" class="hidden nestled">
                <div ng-show="!registration_success.status">
                    <div id="registration_errors">
                        <p class="red" ng-repeat="registration_error in registration_errors">{{registration_error.message}}</p>
                    </div>
                    <p>Please fill out the following required fields.</p>
                    <form id="registration_form" name="reg_form" ng-submit="reg_form.$valid && makeNewUser(new_user)" novalidate >
                        <table>
                            <tbody>
                                <tr>
                                    <td>first name</td>
                                    <td><input type="text" ng-model="new_user.firstname" placeholder="first name" required autofocus></td>
                                </tr>
                                <tr>
                                    <td>last name</td>
                                    <td><input type="text" ng-model="new_user.lastname" placeholder="last name" required></td>
                                </tr>
                                <tr>
                                    <td>username</td>
                                    <td><input type="text" ng-model="new_user.username" placeholder="username" required></td>
                                </tr>
                                <tr>
                                    <td>email</td>
                                    <td><input type="text" ng-model="new_user.email" placeholder="email" name="email" required></td>
                                </tr>
                                <tr>
                                    <td>phone</td>
                                    <td><input type="text" ng-model="new_user.phone" placeholder="phone" required></td>
                                </tr>
                                <tr>
                                    <td>password</td>
                                    <td><input type="text" ng-model="new_user.password" placeholder="password" required></td>
                                </tr>
                                <tr>
                                    <td>confirmation</td>
                                    <td><input type="text" ng-model="new_user.passwordconfirm" placeholder="confirmation" required></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input id="registration_form_submit" type="submit" value="Register!"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div ng-show="registration_success.status">
                    <p>You have successfully registered!</p>
                    <p>Welcome to MUNCH.</p>
                    <button id="register_done" ng-click="redisplayForm()">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>