<html>
<head>
	<title>Menu App</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
    <script type="text/javascript">
        var munch = angular.module('munch', ['ngRoute']);


    </script>
    <script type="text/javascript" src="../javascripts/factories/MenuFactory.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/menusController.js"></script>
</head>
<body ng-app='munch'>
    <div class='container' ng-controller='menusController'>
        <h1>This is the menu</h1>
        <div class='col-sm-12'>
            <table class='table table-striped table-condensed'>
                <thead>
                    <th>Menu Item</th>
                    <th>Menu Description</th>
                    <th>Notes</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                        <tr ng-repeat="item in items">
                            <td ng-model="item.name"><h4>{{item.name}}</h4></td>
                            <td ng-model="order.description">{{item.description}}</td>
                            <td><ul ng-repeat='notes in inputs'>
                                    <li ng-repeat='note in notes'><input type='checkbox' ng-model='order.notes' ng-change="setOutputs($index, note)"> {{note}}</li>
                                </ul>
                                <textarea ng-model='index.note' ng-show='showNote'></textarea>
                            </td>
                            <td ng-model='order.price'>${{item.price}}</td>
                            <td><select class='form-control' ng-model='order.qty'>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            <button class='btn btn-primary submit' ng-click="newOrder([item.name, order.qty, $index, order.notes, index.note])">Add to Order</button>
                            </td>
                        </tr>
                </tbody>
            </table>
        <div class='footer'>
            <a href="/"><button class='btn btn-warning logout'>Logout</button></a>
        </div>
    </div>
    </div>
</body>
</html>