<html>
<head>
	<title>Menu App</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/xeditable.css" />
    <script type="text/javascript" src="../javascripts/xeditable.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
    <script type="text/javascript">
        var munch = angular.module('munch', ['ngRoute', 'xeditable']);
    </script>
    <script type="text/javascript" src="../javascripts/factories/MenuFactory.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/menusController.js"></script>
</head>
<body ng-app='munch'>
    <div class='container' ng-controller='menusController'>
        <div ng-show='logged_in_user.account_type === "team"'>
            <h1>Munch - Menu</h1>
            <div class='col-sm-12'>
                <table class='table table-striped table-condensed'>
                    <thead>
                        <th>Menu Item</th>
                        <th>Menu Description</th>
                        <th>Notes</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody>
                            <tr ng-repeat="item in items">
                                <td ng-model="item.name"><h4>{{item.name}}</h4></td>
                                <td ng-model="order.description">{{item.description}}</td>
                                <td><ul ng-repeat='notes in inputs'>
                                        <li ng-repeat='note in notes'><input type='checkbox' ng-model='order.notes' ng-change="setOutputs($index, note)"> {{note}}</li>
                                    </ul>
                                    <textarea ng-model='index.note' ng-show='showNote'></textarea>
                                </td>
                                <td ng-model='order.price'>${{item.price}}</td>
                                <td><select class='form-control' ng-model='order.qty'>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                <button class='btn btn-primary submit' ng-click="newOrder(item.name, item.description, $index, notes, index.note, item.price, order.qty)">Add to Order</button>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div class='footer'>
                    <a href="/"><button class='btn btn-warning logout'>Logout</button></a>
                    <a href="/dashboard"><button class='btn btn-primary submit'>Back</button></a>
                </div>
            </div>
        </div>
        <div ng-show='logged_in_user.account_type === "mgmt"'>
            <h1>Manager Menu</h1>
            <div class='col-sm-12'>
                <table class='table table-striped table-condensed'>
                    <thead>
                        <th>Menu Item</th>
                        <th>Description</th>
                        <th>Price ($)</th>
                    </thead>
                    <tbody>
                            <tr ng-repeat="item in items">
                                <form editable-form name="editableForm" onaftersave="saveUser()">
                                    <td ng-model="index.name"><span editable-text="item.name" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.name || 'empty' }}</span></td>
                                    <td ng-model="index.description"><span editable-textarea="item.description" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.description || 'empty' }}</span></td>
                                    <td ng-model='index.price'>
                                        <span editable-text="item.price" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.price || 'empty' }}</span>
                                        <button class='btn btn-danger submit' ng-click="removeItem(item)">Remove</button>
                                        <button class='btn btn-primary submit' ng-click="updateMenu(item)">Update</button>
                                    </td>
                                </form>
                            </tr>
                            <tr>
                                <td><input type='text' ng-model="new.name"></td>
                                <td><input type='text' ng-model="new.description"></td>
                                <td>
                                    <input type='text' ng-model='new.price'>
                                    <button class='btn btn-primary submit' ng-click="newItem(new.name, new.description, new.price)">Add Item</button>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div class='footer'>
                    <a href="/"><button class='btn btn-warning logout'>Logout</button></a>
                    <a href="/dashboard"><button class='btn btn-primary submit'>Back</button></a>
                </div>
            </div>
        </div>
        <div ng-show='logged_in_user.account_type === "personal"'>
            <h1>Manager Menu</h1>
            <div class='col-sm-12'>
                <table class='table table-striped table-condensed'>
                    <thead>
                        <th>Menu Item</th>
                        <th>Description</th>
                        <th>Price ($)</th>
                    </thead>
                    <tbody>
                            <tr ng-repeat="item in items">
                                <td ng-model="item.name"><h4>{{item.name}}</h4></td>
                                <td ng-model="order.description">{{item.description}}</td>
                                <td ng-model='order.price'>${{item.price}}</td>
                            </tr>
                    </tbody>
                </table>
                <div class='footer'>
                    <a href="/"><button class='btn btn-warning logout'>Logout</button></a>
                    <a href="/dashboard"><button class='btn btn-primary submit'>Back</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>