<html>
<head>
	<title>Menu App</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/xeditable.css" />
    <script type="text/javascript" src="../javascripts/xeditable.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
    <script type="text/javascript">
        var munch = angular.module('munch', ['ngRoute', 'xeditable']);


    </script>
    <script type="text/javascript" src="../javascripts/factories/MenuFactory.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/menusController.js"></script>
</head>
<body ng-app='munch'>
    <div class='container' ng-controller='menusController'>
        <h1>Manager Menu</h1>
        <div class='col-sm-12'>
            <table class='table table-striped table-condensed'>
                <thead>
                    <th>Menu Item</th>
                    <th>Description</th>
                    <th>Price ($)</th>
                </thead>
                <tbody>
                        <tr ng-repeat="item in items">
                            <form editable-form name="editableForm" onaftersave="saveUser()">
                                <td ng-model="index.name"><span editable-text="item.name" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.name || 'empty' }}</span></td>
                                <td ng-model="index.description"><span editable-textarea="item.description" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.description || 'empty' }}</span></td>
                                <td ng-model='index.price'>
                                    <span editable-text="item.price" e-name="name" onbeforesave="checkName($data)" e-required>{{ item.price || 'empty' }}</span>
                                    <button class='btn btn-danger submit' ng-click="removeItem(item)">Remove</button>
                                    <button class='btn btn-primary submit' ng-click="updateMenu(item)">Update</button>
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <td><input type='text' ng-model="new.name"></td>
                            <td><input type='text' ng-model="new.description"></td>
                            <td>
                                <input type='text' ng-model='new.price'>
                                <button class='btn btn-primary submit' ng-click="newItem(new.name, new.description, new.price)">Add Item</button>
                            </td>
                        </tr>
                </tbody>
            </table>
            
        <div class='footer'>
            <a href="/"><button class='btn btn-warning logout'>Logout</button></a>
        </div>
    </div>
    </div>
</body>
</html>
<!-- <input type='text' value='{{item.description}}'> -->
<!-- ng-model='index.description' -->