<!DOCTYPE html>
<html>
<head>
    <div ng-app='munch'>
        <div ng-controller='schedules'>
            <title><%= title %></title>
            <link rel="stylesheet" type="text/css" href="/stylesheets/calendarstyle.css" />
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
            <link href='../fullcalendar/fullcalendar.css' rel='stylesheet' />
            <link href='../fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
            <link href='../stylesheets/calendarstyle.css' rel='stylesheet'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src='../fullcalendar/lib/moment.min.js'></script>
            <script src='../fullcalendar/lib/jquery.min.js'></script>
            <script src='../fullcalendar/fullcalendar.min.js'></script>
            <script type="text/javascript" src="../javascripts/schedule_app.js"></script>
            <script type="text/javascript" src="../javascripts/factories/ScheduleFactory.js"></script>
            <script type="text/javascript" src="../javascripts/controllers/schedules.js"></script>
            <script type="text/javascript" src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/amcharts.js"></script>
            <script type="text/javascript" src="http://cdn.amcharts.com/lib/3/serial.js"></script>
            <script type="text/javascript">

            </script>

</head>
    <body>
        <div id='notebook'> 
            <div id='calendar2'></div>
            <div id='calendar'></div>
        </div>
        <div ng-view=""></div>
        </div>
    </body>
</html>